<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Events
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Ionic Events</h2>
  <!-- <ion-item>
      <ion-label>Reserved Seating Only?</ion-label>
      <ion-checkbox color="blue" checked="true"></ion-checkbox>
    </ion-item> -->
  <ion-list>
      <ion-item *ngFor="let event of eventList.events">
          <ion-card style="white-space: normal;">
              <img src="{{ event.films[0].poster_image }}" style="float: left; margin: 4px 10px 0px 0px; border: 1px solid #000000; width: 150px; height: 200px"/>
              <ion-card-content>
                <ion-card-title>
                  {{ event.name }}
                  <h3><b>Location: </b>{{event.venue.name}}</h3>
                  <ion-icon *ngIf="event.venue.use_reserved_seating" name="ios-contacts-outline"></ion-icon>   
                </ion-card-title>
                 Genre: {{event.films[0].tags[0].name}}
                  <div innerHTML="{{ event.films[0].description }}"></div> <Br>
                    <a href="{{event.films[0].trailer_url}}">Watch Trailer</a>
              </ion-card-content>
            </ion-card>
      </ion-item>
  </ion-list>
  </ion-content>
